[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
ipdb = "*"
prompt-toolkit = '==1.0.14'
PyInquirer = '1.0.3'
rich = "*"

[dev-packages]

[requires]
python_version = "3.8"
